

body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  width: 100%;
}

/* Header */

header {
  height: 69px;
  display: flex;
  border-bottom: 1px solid seashell;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.logo {
  height: 50px;
  padding-left: 10px;
  flex-grow: 1;
}

.logo img {
  height: 50px;
}

header nav {
  padding-right: 30px;
}

header nav span {
  margin-left: 10px;
}

header nav a {
  color: seashell;
}

/* Main Content */

div {
  border: white 1px solid;
}

.main-content {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.mission {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../images/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
}

.mission .text-content {
  width: 100%;
  background-color: black;
}
