@charset "UTF-8";

/* Universal */
body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  width: 100%;
}

/* Header */

header {
  height: 69px;
  margin-top: -8px;
  display: flex;
  border-bottom: 1px solid seashell;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: black;
}

.logo {
  height: 50px;
  flex-grow: 1;
}

.logo img {
  height: 50px;
}

header nav {
  padding-right: 30px;
}

header nav span {
  margin-left: 10px;
}

header nav a {
  color: seashell;
}

/* Main Content */

div {
  border: white 1px solid;
}

.main-content {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mission {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../images/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
}

.mission .text-content {
  width: 100%;
  background-color: black;
}

/* Tea of the Month */

.monthly-tea {
  margin: 50px auto;
  width: 1000px;
  text-align: center;
}

.monthly-tea .text-content {
  width: 100%;
}

.teas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tea {
  margin: 0 10px;
}

.tea h4 {
    margin-top: 10px;
}
.tea img {
  width: 300px;
  height: 200px;
}

/* Locations */

.location-section {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(..images/img-locations-background.jpg);
  width: 1200px;
  height: 500px;
}
.location-section .section-title {
  width: 100px;
}

.locations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
